$base00: #16161E; // ----
$base01: #1A1B26; // ---
$base02: #2F3549; // --
$base03: #444B6A; // -
$base04: #787C99; // +
$base05: #A9B1D6; // ++
$base06: #CBCCD1; // +++
$base07: #D5D6DB; // ++++
$base08: #F7768E; // Red
$base09: #FF9E64; // Orange
$base0A: #E0AF68; // Yellow
$base0B: #9ECE6A; // Green
$base0C: #7DCFFF; // Cyan
$base0D: #7AA2F7; // Blue
$base0E: #BB9AF7; // Purple
$base0F: #D18616; // Brown

$bg: $base00;
$bg2: $base02;
$fg: $base05;
$fg2: $base07;

$red: $base08;
$orange: $base09;
$yellow: $base0A;
$green: $base0B;
$cyan: $base0C;
$blue: $base0D;
$purple: $base0E;
$brown: $base0F;
