@use './colours.scss' as colours;

body {
overflow: hidden;
}
#root {
overflow: hidden;

}

.gw2 {
  transition: all .1s ease-out;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .3rem;
  overflow: hidden;

  li {
    text-align:center;
    transition: all .1s ease-out;
    font-size: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid colours.$bg3;
    border-radius: 5px;
    width: 10rem;
    min-height: 5rem;
    display: flex
  }

  li.selected {
    border-color: colours.$purple;
    width: 14rem;
    min-height: 8rem;
  }
  li.selected + li {
    width: 12rem;
    min-height: 6rem;
  }
  li:has(+ li.selected) {
    width: 12rem;
    min-height: 6rem;
  }
  .shadow {
    width: 100%;
    font-weight: 250;
    color: colours.$fg2;
    padding: .2rem;
    align-self: center;
    background-color: rgba(from colours.$bg r g b / 0.7)
  }
}
