@use './colours.scss' as colours;
@use 'lists.scss';

body {
  background-color: colours.$bg;
  color: colours.$fg;
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

#root {
  width: 100%;
}

button.egg {
  all: unset;
  background-image: url(../assets/egg.svg);
  position: absolute;
  padding: .5em 0;
  font-size: 50px;
  width: 2em;
  height: 1em;
  text-align: center;
  color: colours.$base03;
}

.account-indicator {
  // all: unset;
  position: absolute;
  left: 50%;
  right: 50%;
  display: flex;
  align-items: center;
  bottom: 0;
  p {
  transform: translateX(-50%);
  font-size: 50px;
  text-align: center;
  color: colours.$base03;

  }
}
