@use './colours.scss' as colours;

body {
  background-color: colours.$bg;
  color: colours.$fg;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

@mixin selected {
  content: "";
  position: absolute;
  border-top: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
}

@mixin selected-before {
  @include selected;
  margin: .1rem -1.2rem;
}
@mixin selected-after {
  @include selected;
  margin: .1rem .2rem;
}

.activeList {
  background-color: colours.$bg1;
  .selection {
    border-left: solid .3rem colours.$fg0 !important;
    border-right: solid .3rem colours.$fg0 !important;
  }
  .active {
    color: colours.$bg !important;
    background-color: var(--item-color) !important;
  }
}

.inActiveList {
  .active {
    color: colours.$bg !important;
    background-color: colours.$fg0 !important;
  }
  .selection {
    border-left: solid .3rem colours.$bg3 !important;
    border-right: solid .3rem colours.$bg3 !important;
  }
}

.lists {
  display: flex;
  flex-direction: row;
  min-width: 60rem;

  .listWrapper {
    margin: 2rem;
    width: 100%;
    max-width: 20rem;
    height: calc(100vh - 4rem);
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-color: colours.$fg0;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto;

    .header {
      text-align: center;
      margin: 0;
      padding: .5rem;
    }

    .list::-webkit-scrollbar {
      display: none;
    }

    .list {
      border-top: dashed 2px;
      border-color: colours.$fg0;
      list-style-type: none;
      padding: 1rem;
      margin: 0;
      overflow: scroll;

      li {
        display: grid;
        grid-template-columns: 2rem auto 1.5rem;

        .line-number {
          text-align: right;
          margin-right: .3rem;
        }

        .name {
          border-left: solid .3rem transparent;
          border-right: solid .3rem transparent;
          padding: 0 .2rem;
          color: var(--item-color);
        }

      }
    }
  }
}

button.egg {
  all: unset;
  background-image: url(../assets/egg.svg);
  position: absolute;
  padding: .5em 0;
  font-size: 50px;
  width: 2em;
  height: 1em;
  text-align: center;
  color: colours.$base03;
}
